.dropbtn {
  background-color: red;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: white;
}

.dropdown {
  position: relative;
  left: 0px;
  display: inline-block;
  border-radius: 30px;
  
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 122px;
  /* overflow: auto; */
  box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-left: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 6px;
}

.dropdown-content a {
  color: black;
  margin-top: 5px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: white;}

.show {display: block;}