body{
    box-sizing: border-box;
    background-color: white;
}
.card{
  margin: 59px 336px;
  height: 550px;
  opacity: 99%;
  border-radius: 12px;
  border: 16px double red;
  padding: 10px;
  border-bottom-right-radius: 194px;
  left: -265px;
  font-family: emoji;
  border-style: double solid solid double;
  box-shadow: 10px 10px;

}
.btn{
  position: absolute;
    left: 10px;
    top: 367px;
    width: 418px;
    font-size: 20px;
}
.tablo1{
    position: absolute;
    left: 100px;
    top: 40px;
  }
  
  .tablo2{
    position: absolute;
    left: 100px;
    top: 100px;
  }
  
  .btnGiris{
    position: absolute;
    top: 303px;
  } 
 
  .btn0{
  position: absolute;
  top: 20px;
  left: 330px;
  margin-top: 5px;
}

.btn1{
    position: absolute;
    top: 223px;
    left: 828px;
    margin-top: 5px;
}

.btn2{
  position: absolute;
  top: 300px;
  left: 828px;
  margin-top: 5px;
}
.input{
  width: 320px;
}